// 公共样式
ul,ol{
    list-style: none;
    padding-inline-start: 0px; 
    /* 取消libs中定义的padding */
}

*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;

}
body{
    font-size: 12px;
    color: #684029;
}
ul li{
    list-style: none;
}
button,input{
    border:none;
    outline: none;
}
.cover{
    object-fit: cover;
}
a{
    text-decoration: none;
}
.flexBox{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
}
.flex1{
    flex:1;
    overflow: auto;
}
.flex{
    display: flex;
}
.flexA{
    display: flex;
    justify-content: space-around;
}
.flexB{
    display: flex;
    justify-content: space-between;
}
.flexC{
    display: flex;
    justify-content: center;
}
.fw{
    flex-wrap: wrap;
}
.bb{
    box-sizing: border-box;
}
.vm{
    vertical-align: middle;
}
.fz3vw{
    font-size:3vw;
}
.fz35vw{
    font-size:3.5vw;
}
.fz4vw{
    font-size:4vw;
}
.fz45vw{
    font-size:4.5vw;
}
.fz5vw{
    font-size:5vw;
}
.fz55vw{
    font-size:5.5vw;
}
.tran{
    transition: all 0.5s;
}
.lh{
    display: inline-block;
}

.rela{
    position: relative;
}
.abso{
    position: absolute;
}

.center{
    text-align: center;
}
.gold{
    color:#E7B333;
}
.white{
    color:#fff;
}
.onWrap{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

._input{
    width:673px;
    height:100px;
    background:rgba(31,33,35,1);
    border-radius:20px;
    font-size:30px;
    margin-bottom: 30px;
    padding-left: 36px;
    box-sizing: border-box;
    color: #fff;
    &::placeholder{
        color:rgba(79,81,83,1);
    }
}
._button{
    width:80%;
    height:98px;
    color: #fff;
    font-size:32px;
    margin-top: 30px;
    line-height: 98px;
    background:linear-gradient(90deg,rgba(190,140,19,1),rgba(234,181,53,1));
    border-radius:49px;
}

._top{
    border-top:1px solid #2D2F31;
}
._bottom{
    border-bottom:1px solid #151618;
}

.fullScreen{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background:rgba(0,0,0,0.6);
    z-index:200;
}

.mid{
    position: absolute;
    top:0;
    left: 0;
    bottom:0;
    right: 0;
    margin: auto;
}
.swiper-pagination-bullet{
    width: 15px !important;
    height: 15px !important;
}
.my-bullet-active{
    background-color: #C28F16 !important ;
    opacity: 1 !important;
}
.error{
    box-shadow: 0px 0px 50px red inset;
}

.tick_parti{
    ._tick_content{
        div,p{
             word-break: break-all;
            line-height:38px;
            color:#fff;
            margin-bottom: 44px;
        }
        img{
            width: 100%;
            height:435px;
            margin-bottom: 20px;
        }
    }
}

.qr{
    >canvas{
        width: 300px !important;
        height: 300px !important;
    }    
}

.no_data{
    font-size: 40px;
    text-align: center;
    color: #fff;
    margin-top: 200px;
}
