header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    background: #FFF;
    box-shadow: 0 2px 2px 0 rgba(195,195,195,0.50);
}
.navbar{
    height: 80px;
    margin-bottom:0px;
    border:1px solid #ffffff;
}
.navbar li:hover a{
    background: none;
    color: #BB9772;
}
 .navbar-brand img{
    width:120px ;
    height: 44px;
    line-height: 80px;
}
.navbar .collapse{
    line-height: 80px;
}
.navbar-nav li a {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #684029;
}
.navbar .navbar-right li{
    margin-left: 5px;
}
.navbar .navbar-right .dropdown-menu{
    min-width: 100px;
    box-shadow: 0 3px 6px rgba(209, 168, 56, 0.175)
}
.navbar .navbar-right .dropdown-menu li{
    text-align: center;
}
.navbar .navbar-right .dropdown-menu li a{
    padding: 5px 0;
    color:#BB9772; 
    font-size: 12px;
    font-weight: none;
}
.navbar .navbar-right .dropdown-menu li:hover a{
    color:#724228;
}