@import "../libs/bootstrap/css/bootstrap.min.css";
@import "module/base.scss";
@import "module/footer.scss";
@import "module/header.scss";
*{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style: none;
}
a{
    text-decoration: none;
}

$width:1200px;
$fontColor: #684029;
.content-box{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
  
    .nav-box{
        height: 290px;
        padding: 77.5px 0;
        margin-top: 80px;
        margin-bottom: -55px;
        background: url(../img/about-bg.png) no-repeat center;
        background-size: 100%;

        .nav{
            width: 880px;
            margin: 20px auto;
            display: table;
            border-spacing: 0;
            border-collapse: collapse;
            text-align: center;
            ul{
                width: 100%;
                display: flex;
                justify-content: space-around;
                margin-bottom: 0px;
                li{

                    a{
                        display: inline-block;
                        width: 133px;
                        height: 95px;
                        line-height: 95px;
                        background: rgba(255, 255, 255, 0.9);
                        border-radius: 4px;
                    }
                }
            }
        }
    }
    .main{
        width: $width;
        margin: 0 auto;
        padding-top: 60px;
        section{
            width: 880px;
            margin: 20px auto;

            article{
                p{
                    margin: 0 auto;
                    width: 216px;
                    height: 34px;
                    padding-top: 100px;
                }
            }
            .vip{
                height: 567px;

                .vip-title{
                    background: url(../img/vip.png) no-repeat 0 40px;
                }
                .logos{
                    height: 400px;
                    display: inline-block;
                    overflow: hidden;
                    width: auto;
                    max-width: 100%;
                    text-align: center;

                    a{
                        text-decoration: none;
                        display: inline-block;
                        width: 160px;
                        height: 160px;
                        margin: 20px 30px;
                        text-align: center;
                        font-size: 14px;
                        color: #73472E;
                        
                        span:first-child{
                            height: 120px;
                            width: 120px;
                            margin: 0 auto;
                            margin-bottom: 0px;
                            display: block;
                            margin-bottom: 10px;
                            background: #faf8f7;
                            border-radius: 100px;
                            overflow: hidden;

                            .logo{
                                width: 123px;
                                height: 123px;
                                max-width: 123px;
                                max-height: 123px;
                            }
                            i{
                                display: inline-block;
                                height: 10px;
                                width: 10px;
                                border-radius: 10px;
                                background: #73472E;
                                margin: auto 4px;
                                line-height: 120px;
                                margin-top: 55px;
                            }
                        }
                    }
                    .two{
                        width: 294px;
                        span:first-child{
                            width: 294px;
                            height: 120px;
                        }

                    }
                 
                }
            }
            .common{
                height: 700px;

                .common-title{
                    background: url(../img/common.png) no-repeat 0 40px;
                }
                .cards{
                    text-align: center;
                    height: 524px;
                    position: relative;

                    a:nth-child(1){
                        width: 486px;
                        display: inline-block;
                        text-align: center;
                        outline: none;
                        cursor: pointer;

                        img:first-child{
                                width: 486px;
                                height: 222px;
                        }
                    }
                    a:nth-child(2){
                        width: 316px;
                        height: 255px;
                        position: absolute;
                        top: 265px;
                        left: 10px;

                        img:first-child{
                            height: 214px;
                        }
                    }
                    a:nth-child(3){
                        width: 438px;
                        height: 260px;
                        position: absolute;
                        top: 260px;
                        right: 10px;

                        img:first-child{
                            height: 220px;
                        }
                    }
                }
            }
            .made{
                .made-title{
                    background: url(/../img/ways-1.png) no-repeat center center;
                }
                .city{
                    display: block;
                    height: 25px;
                    width: 75px;
                    padding-right: 5px;
                    border: 1px solid #73472E;
                    line-height: 25px;
                    text-align: center;
                    font-size: 14px;
                    color: #73472E;
                    cursor: pointer;
                    margin: 30px auto 10px;
                    input{
                        width: 100%;
                        height: 100%;
                        text-align: center;
                    }
                    i{
                        position: relative;
                        left: 25px;
                        bottom: 25px;
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        margin-top: 7px;
                        background: url(/../img/icon.png) no-repeat 2px -56px;
                        background-size: 365px 135px;
                    }
                }
                ul{
                    display: none;
                    position: absolute;
                    left: 47.5%;
                    min-width: 60px;
                    background-color:#fdfdfd;
                    border-radius:2px; 
                    box-shadow: 0 3px 4px rgba(53, 44, 35, 0.2);
                    li{
                        line-height: 30px;
                        text-align: center;  
                        a{
                            text-decoration: none;
                            color: #73472E;
                            &:hover{
                                color:  #D5BFA7;
                            }
                        }
                    }
                }
                .callText{
                    margin-top: 15px;
                    text-align: center;
                    font-size: 14px;
                    color: #73472E;
                    line-height: 25px;
                    padding-bottom: 70px;
                    border-bottom: 2px #A68A7A dashed;
                }
            }
        }
    }
}