@import "module/base.scss";
@import "module/footer.scss";
@import "module/header.scss";
@import "banner.scss";
$width: 1140px;
$height: 250px;
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.back-top{
    z-index: 100000;
    position: fixed;
    bottom: 60px;
    right: 5px;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 60px;
    font-size: 35px;
    border-radius:25px; 
    background: url(../img/top-icon.png) no-repeat;
    background-size: 100%;
}
main{
    width: 1140px;
    .nav-sort{
        margin-top: 12px;
        height: 100px;
        margin-bottom:80px;
        .nav-list{
            padding-top: 15px;
            width: 1140px;
            height: 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            /* padding-inline-start: 0px; */

            li{
                a{
                    display: inline-block;
                    width: 200px;
                    height: 100px;
                    border-radius: 8px;
                    box-shadow:  0 3px 6px rgba(124, 99, 29, 0.175);
                }
                &:nth-child(1) a{
                    background:url(../img/nav-list-01.png) no-repeat;
                }
                &:nth-child(2) a{
                    background:url(../img/nav-list-02.png) no-repeat;
                }
                &:nth-child(3) a{
                    background:url(../img/nav-list-03.png) no-repeat;
                }
                &:nth-child(4) a{
                    background:url(../img/nav-list-04.png) no-repeat;
                }
            }
        } 
    }
    h4{
        color: #724228;
        font-size: 24px;
        font-weight: normal;
        padding-bottom: 10px;
        span{
            margin-left: 6px;
            font-size: 14px;
            color: #8E5D43;
        }
    
    }
    .product-list{
        .new-bg{
            a{
                display: inline-block;
                width: $width;
                height: $height;
                background: url(../img/xinpin-bg.jpg) repeat;
            }
        }
        .fete-bg{
            a{
                display: inline-block;
                width: $width;
                height: $height;
                background: url(../img/shengri-bg.jpg) repeat;
            }
        }
        .party-bg{
            a{
                display: inline-block;
                width: $width;
                height: $height;
                background: url(../img/juhui-bg.jpg) repeat;
            }
        }
        .pop-bg{
            a{
                display: inline-block;
                width: $width;
                height: $height;
                background: url(../img/renqi-bg.jpg) no-repeat;
            }
        }
        .list-box{
            margin-top: 20px;
            margin-bottom: 60px;
            // background: green;
            ul{
                width: 1141px;
                height: 365px;
                display: flex;
                justify-content: space-between;
                li{
                    width: 263px;
                    height: 365px;
                    a{
                        text-decoration: none;
                    }
                    // background: #f1eeed;
                    a:first-child {
                        display: inline-block;
                        width: 263px;
                        height: 230px;
                        border-radius:10px; 
                        background-color: rgba(224, 223, 220, 0.175);
                        overflow: hidden;
                        img:hover{
                            transform: scale(1.1);
                            transition:  all 0.5s;
                        }
                    }
                    a:nth-child(2){
                        h6{
                            
                            font-size: 16px;
                            margin-top: 10px;
                            margin-bottom: 0px;
                            line-height: 22px;
                            color: #000;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                    a{
                        p{
                            font-size: 14px;
                            color: #616161;
                            line-height: 24px;
                            margin: 0 0 0;
                        }
                    }
                    // .tag-list{
                    //     a{
                    //         display: inline-block;
                    //         border: 1px solid #D5BFA7;
                    //         border-radius: 100px;
                    //         padding: 1px 6px 0 8px;
                    //         color: #D5BFA7;
                    //         margin: 8px 4px;
                    //         font-size: 12px;
                    //     }
                    // }
                    .cart-info{
                        border-top: 1px dashed #D5BFA7;
                        height: 37px;
                        color: #b0986f;
                        margin-top: 6px;
                        padding-top: 14px;
                        span{
                            display: inline-block;
                            line-height: 20px;
                            color: #BB9772;
                            font-size: 14px;
                        }
                        .add-cart{
                            text-decoration: none;
                            float: right;
                            display: inline-block;
                            line-height: 20px;
                            font-size: 12px;
                            background: #643E28;
                            color: #fff;
                            padding: 0 10px;
                        }
                    }
                    // .pro-size{
                    //     position: absolute;
                    //     box-sizing: border-box;
                    //     padding: 12px;
                    //     background: #FAFAFA;
                    //     width: 100%;
                    //     bottom: 0;
                    //     left: 0;
                    //     // display: none;
                    //     z-index: 1001;
                    // }
                    // .seeCart{
                    //     position: absolute;
                    //     width: 238px;
                    //     height: 124px;
                    //     top: 890px;
                    //     left: 790px;
                    //     background: rgba(104,64,41,0.7);
                    //     display: none;
                    //     // opacity: 0;
                    //     z-index: 10000;
                    //     .add-success{
                    //         width: 180px;
                    //         color: #fff;
                    //         font-size: 14px;
                    //         line-height: 20px;
                    //         padding-top: 28px;
                    //         text-align: end;
                    //         i{
                    //             height: 20px;
                    //             width: 24px;
                    //             background: url(/../img/icon.png) no-repeat;
                    //             background-position: -131px -41px;
                    //             background-size: 310px 120px;
                    //             margin-right: 4px;
                    //             display: inline-block;
                    //             vertical-align: middle;
                    //         }
                    //     }
                    //     a{
                    //         text-decoration: none;
                    //         color: #7A5844;
                    //         background: #fff;
                    //         display: block;
                    //         height: 34px;
                    //         width: 160px;
                    //         line-height: 34px;
                    //         text-align: center;
                    //         margin: 15px auto 0;
                    //         cursor: pointer;
                    //     }
                    // }

                }
            }
        }
    }

}  



  
